#Toppmeny ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

#Toppmeny li.modul {
  display: inline;
}

#Toppmeny a.modul {
  float: right;
  width: 8em;
  height: 22px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  margin-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  color: black;
}

#Toppmeny a.modulaktiv {
  background-color: #C00000;
  color: white;
}

#Sidemeny ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#Sidemeny li.modul {
  line-height: 1em;
  margin-bottom: 2px;
  height: 21px;
  width: 220px;
  display: inline-block;
  background-color: silver;
}

#Sidemeny li.modulaktiv {
  line-height: 1em;
  margin-bottom: 2px;
  height: 21px;
  width: 220px;
  display: inline-block;
  background-color: silver;
  background-color: #C09090;
  color: white;
  border-right: 4px solid #C00000;
}

#Sidemeny li.modulaktiv a {
  color: black;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  padding-left: 10px;
  vertical-align: middle;
}

#Sidemeny li.modul a {
  color: black;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  padding-left: 10px;
  vertical-align: middle;
}

#Sidemeny span {
  float: right;
  padding-right: 8px;
  padding-left: 4px;
}

#Sidemeny img {
  padding: 0px;
  margin-top: 2px;
}
